---
import Layout from "../layouts/StaticPage.astro";

import { CONTACT_EMAIL } from "../consts";

// yes i made this a variable.
// let role = null;
let role = "Senior Front-end Developer for IBM Consulting";
---

<Layout
  title="About Me"
  description="Information about Mike Susz, Front End Developer."
>
  <section id="introduction" aria-label="Introduction">
    <h1>Hi! I'm Mike Susz.</h1>

    <p>
      I like working with teams of <strong>kind</strong> people to solve <strong
        >important</strong
      > problems.
    </p>

    <h2>I'm a:</h2>

    <ul class="">
      <li class="role">Front-end Developer, focused on user experience</li>
      <li class="role">
        Team Leader, fostering relationships between business and design and
        engineering
      </li>
      <li class="role">Scrum Master and proponent of agile processes</li>
    </ul>

    <p>
      I'm currently {
        role ? (
          <span>employed as a {role}.</span>
        ) : (
          <span>looking for new opportunities!</span>
        )
      }
    </p>

    <p>
      Previously I've changed the world (in whatever small way) through my work
      at IBM Software, Optum, Washington Mutual, Intuit, and as an independent
      consultant working for Evernote, Sony, Monster, Kronos, Fidelity,
      Deloitte, and Harvard Pilgrim, and others.
    </p>
  </section>

  <section id="skillset" aria-label="Skill Set">
    <h2>How I like to work:</h2>

    <div class="">
      <article class="">
        <h3>Tools and Techniques</h3>

        <ul class="">
          <li>Modern CSS and Sass (structured, prefer BEM)</li>
          <li>Semantic HTML</li>
          <li>Responsive Web Design</li>
          <li>Accessibility, Optimization and Resilience</li>
          <li>
            Vanilla and Component-based Javascript (React, Sveltekit, JSX)
          </li>
        </ul>
      </article>

      <article class="">
        <h3>Team and Environment</h3>

        <ul class="">
          <li>
            Agile workflow (tools i've used: azure devops, monday, jira, zenhub,
            rally, sticky notes)
          </li>
          <li>
            Collaborating across disciplines in person and using tools - Figma,
            Miro, Sketch, Zeplin, Mural. as long as everyone is onboard.
          </li>
          <li>
            Training, mentoring, and empowering (leadership and Agile process)
          </li>
          <li>
            Enthusiasm, Kindness, and Empathy. Nice people make things better.
          </li>
        </ul>
      </article>

      <p>
        You can view <a
          href="/files/Michael.Susz.Resume.Online.pdf"
          target="_blank">my resume</a
        > or if you want to chat, contact me via the socials linked above or <a
          href=`mailto:${CONTACT_EMAIL}`>reach out</a
        >. thanks!
      </p>
    </div>
  </section>
</Layout>
