---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LatestPosts from '../components/LatestPosts.astro';
import Footer from '../components/Footer.astro';
import { CONTACT_EMAIL, SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Mission from '../components/Mission.astro';
import Skills from '../components/Skills.astro';
import Training from '../components/RecentTraining.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			#home_page {
				.intro-layout,
				.work-layout,
				.content-layout {
					display: block;
				}

				section {
					padding: var(--base-pad);
					margin-bottom: var(--base-gap);

					&.flush-right {
						padding: var(--base-pad) 0 var(--base-pad) var(--base-pad);
					}

					&.flush-left {
						padding: var(--base-pad) var(--base-pad) var(--base-pad) 0;
					}
				}

				.mission {
					padding: var(--base-pad);
					background: var(--background-accent);
				}

				.mission :not(h2) {
					font-size: 1.1em;
				}

				.work {
					background: var(--background-accent);
				}

				.training {
					.formatted_time {
						display: block;
						text-align: right;
					}
				}

				.skills {
					background: var(--background-accent);
				}

				@media all and (min-width: 1024px) {
					.intro-layout,
					.work-layout,
					.content-layout {
						display: grid;
						gap: var(--base-gap);
					}

					.intro-layout {
						grid-template-columns: 3fr 2fr;
						.intro {
							font-size: 1.1em;
						}
					}

					.work-layout {
						grid-template-columns: 3fr 2fr;
					}

					.content-layout {
						grid-template-columns: 3fr 1fr;
					}
				}
			}

			.future {
				display: none !important;
			}
		</style>
	</head>
	<body>
		<div class="page">
			<Header title={SITE_TITLE} />
			<main id="home_page">
				<div class="intro-layout">
					<section class="intro">
						<h1>Hello!</h1>
						My name is Mike and I love solving problems. I've been doing web UI development, UX strategy,
						and various aspects of web design and development for 28 years. I'm currently employed as
						a Senior Front-end Developer with IBM Consulting. In the past I've led teams and been an
						agile facilitator.
					</section>

					<section class="mission">
						<h2>Mission</h2>
						<div><Mission /></div>
					</section>
				</div>

				<hr class="separator" />

				<div class="work-layout">
					<section class="work">
						<h2>My latest projects at work</h2>

						<p>
							I am currently 'on the bench' and looking for my next assignment at IBM Consulting.
							During this time, I am cramming in as much training as I can find about AI models,
							Agents, and usage.
						</p>

						<p>
							For my last project, I participated in building a Proof-of-Concept application to bid
							on a project. This was my first time using data from watsonx.ai and my first time
							making a front-end for a chatbot/document library. The UI was built using Carbon
							Design System and React.
						</p>

						<p>
							Prior to that, I had been working on various projects that build social-care network
							sites and infrastructure. The common front-end is svelte/sveltekit, svelte superforms,
							sass/scss, and Carbon Design System components (and plenty of custom-built
							components/molecules). Data came from a combination of PostgreSQL, fhir, and IBM's <a
								href="https://www.ibm.com/products/blog/revolutionizing-community-access-to-social-services-ibm-and-microsofts-collaborative-approach"
								target="_blank">Connect360</a
							> Platform.
						</p>

						<p>
							And, if you're reading this, and you know of an opening on a diverse team of kind
							people who will be solving important problems, feel free to <a
								href=`mailto:${CONTACT_EMAIL}`>reach out</a
							>. While I consider myself an IBMer, I am also always looking to build things that
							help people.
						</p>
					</section>

					<section class="training flush-right">
						<h2>Recent training</h2>
						<Training />
						<footer class="right">
							<a href="/education">All education posts</a>
						</footer>
					</section>
				</div>

				<hr class="separator" />

				<div class="content-layout">
					<section id="latest-posts" class="flush-left" aria-label="Latest Blog Posts">
						<h2>Latest from my blog:</h2>
						<LatestPosts />
						<footer class="right">
							<a href="/blog">All blog posts</a>
						</footer>
					</section>

					<section class="skills future">
						<h2>All-time skills</h2>
						<Skills />
					</section>
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>
