---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// import Intro from '../components/Intro.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello!</h1>

			<p>Please don't mind the dust, again, as I've recently upgraded to Astro 2.0! So far this has been pleasant, hopefully the structures and APIs will be stable for a while and I can commit some time to developing here without having to do another huge migration.</p>

			<p>My future plans (after making sure my content is migrated/meta data is updated) are to use my 'blog' as a general place to write, instead of just being focused on new things I'm learning. So, there will probably be more frequent updates there when i have 'reckons' about them.</p>

			<p>- mike</p>
		</main>
		<Footer />
	</body>
</html>
