---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LatestPosts from '../components/LatestPosts.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// import Intro from '../components/Intro.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="page">
			<Header title={SITE_TITLE} />
			<main>
				<h1>Hello!</h1>

				<p>My name is Mike and I like to solve problems with websites.</p>

				<p>To learn more about me, you can read the <a href="/about">About Me</a> page.</p>

				<p>If you're interested in what I'm learning or what I'm thinking about, check out <a href="/blog">My Blog</a>.</p>

				<p>If you want details about the work i've done in the past, you can check out my <a href="/files/Michael.Susz.Resume.Online.pdf">Resume</a>.</p>

				<p>If you want to get in touch, you can connect with me on the socials linked above.

				<p>Thanks for stopping by!</p>

				<p class="sig">&mdash; mike</p>

				<LatestPosts />
			</main>
			<Footer />
		</div>
	</body>
</html>
