---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LatestPosts from '../components/LatestPosts.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Mission from '../components/Mission.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			#home_page {
				@media all and (min-width: 762px) {
					.columns_layout {
						display: flex;
						gap: 2em;
						.intro {
							font-size: 1.1em;
						}
						.mission {
							h2 {
								margin-top: 0;
							}
							margin-top: 1em;
							padding: 0.63em 1em;
							text-wrap: nowrap;
							background: rgba(255, 255, 255, 0.04);
						}
					}
				}
			}
		</style>
	</head>
	<body>
		<div class="page">
			<Header title={SITE_TITLE} />
			<main id="home_page">
				<div class="columns_layout">
					<section class="intro">
						<h1>hello!</h1>
						My name is Mike and I love solving problems. I've been doing UI development, UX strategy,
						and many various aspects of web design and development for 28 years. I'm currently employed
						as a Senior Front-end Developer with IBM Consulting.
					</section>

					<section class="mission">
						<h2>mission</h2>
						<Mission />
					</section>
				</div>

				<section class="work">
					<h2>my latest projects at work</h2>

					<p>
						I've been alternating between 'bench' time (time between billable projects, spend doing
						estimation &amp; proposals, and learning new things!) and supporting projects that build
						social-care network infrastructure. These projects are personally rewarding, knowing
						that my work is helping people access resources for food/housing/employment help.
					</p>

					<p>
						All of these projects use a similar stack: front-end is svelte/sveltekit, svelte
						superforms, sass/scss, and Carbon Design System components (and plenty of custom-built
						components/molecules). data is a combination of postres sql, fhir, IBM's <a
							href="https://www.ibm.com/products/blog/revolutionizing-community-access-to-social-services-ibm-and-microsofts-collaborative-approach"
							target="_blank">Connect360</a
						> Platform.
					</p>

					<LatestPosts />
					<Footer />
				</section>
			</main>
		</div>
	</body>
</html>
