---
import Layout from '../layouts/StaticPage.astro';
---

<Layout title="The Secret Page" description="How did you find this?">
	<p>
		Congratulations, you found the secret page! I'm not sure if you looked at the sitemap, or
		through my github repository. but you're here.
	</p>
	<p>
		This is where I test out my styles for different HTML elements for my website. I'm sorry it's
		not more exciting.
	</p>

	<main>
		<p>this is the start of &lt;main&gt;</p>

		<hr class="separator" />

		<button>shiny button</button>

		<hr class="separator" />

		<p>this is a <a href="https://example.com">link</a> inline with text.</p>

		<hr class="separator" />

		<blockquote>
			<p>this content is inside a &lt;blockquote&gt;</p>
		</blockquote>

		<hr class="separator" />

		<ul>
			<li>unordered</li>
			<li>list</li>
			<li>sample</li>
		</ul>

		<hr class="separator" />

		<ol>
			<li>ordered</li>
			<li>list</li>
			<li>sample</li>
		</ol>

		<hr class="separator" />

		<dl>
			<dt>definition list topic</dt>
			<dd>definition list description</dd>
		</dl>

		<hr class="separator" />

		<code>
			<br />
			10 PRINT "HELLO"<br />
			20 PRINT "THIS IS A CODE BLOCK"<br />
			30 GOTO 10<br />
		</code>

		<hr class="separator" />

		<pre>this is preformatted text</pre>
		<p>this is the end of &lt;main&gt;</p>
	</main>
</Layout>
