---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Mike Susz. All rights reserved.</p>
	<p>
		<a href="/">Home</a>
		<a href="/sitemap-0.xml">Sitemap</a>
		<a href="/rss.xml">RSS</a>
		<a href="https://github.com/mikesusz/mikesusz.dev">Source</a>
		<a href="https://coolify.io">Coolify</a>
		<a href="https://linode.com">Linode</a>
	</p>
</footer>
<style>
	footer {
		padding: 2em;
		text-align: center;
	}
	footer a {
		font-size: smaller;
		margin-right: 0.25em;
	}
</style>
