---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="site-title">
		{SITE_TITLE}
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://front-end.social/@mikesusz" target="_blank" rel="me">My Mastodon</HeaderLink>
		<HeaderLink href="https://github.com/mikesusz" target="_blank">My GitHub</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/michaelsusz/" target="_blank">My LinkedIn</HeaderLink>
	</nav>
</header>
