---

// yes i made this a variable.
let role = "Senior Front-end Developer for IBM Consulting";

---

<section id="introduction" aria-label="Introduction">

  <h1>Hi! I'm Mike Susz.</h1>

  <h2>I'm a:</h2>

  <ul class="">
      <li class="role">Front-end Developer, focused on user experience</li>
      <li class="role">Team lead, fostering relationships between business and design and engineering</li>
      <li class="role">Scrum Master and proponent of agile process</li>
  </ul>

  <p>And I'm currently {role ? <span>employed as a {role}.</span> : <span>looking for new opportunities!</span>}</p>

</section>


<section id="skillset" aria-label="Skill Set">

  <h2>How I like to work:</h2>

  <div class="">

    <article class="">
        <h3>Tools and Techniques</h3>

        <ul class="">
            <li>Modern CSS and Sass (structured, prefer BEM)</li>
            <li>Semantic HTML</li>
            <li>Responsive Web Design</li>
            <li>Accessibility, Optimization and Resilience</li>
            <li>Vanilla and Component-based Javascript (React)</li>
        </ul>
    </article>

    <article class="">
        <h3>Team and Environment</h3>

        <ul class="">
            <li>Agile workflow (tools i've used: jira, zenhub, rally, sticky notes)</li>
            <li>Collaborating across disciplines in person and using tools - Sketch, Zeplin, Mural</li>
            <li>Training, mentoring, and empowering (leadership and Agile process)</li>
            <li>Enthusiasm, Kindness, and Empathy</li>
        </ul>
    </article>

    <p>You can view <a href="/files/Michael.Susz.Resume.Online.pdf" target="_blank">my resume</a> or if you want to chat, contact me via the socials linked above. thanks!</p>

  </div>

</section>