---
import { getCollection } from 'astro:content';

import FormattedDate from './FormattedDate.astro';

const posts = (
	await getCollection('blog', ({ data }) => {
		return data.draft !== true;
	})
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<ul class="latest-posts styled-list">
	{
		posts.map((post) => {
			return (
				<li>
					<div class="post_data">
						<a href={`/blog/${post.slug}/`} style={{ display: 'block' }}>
							{post.data.title}
						</a>
						<FormattedDate date={post.data.pubDate} />
					</div>
					<p>{post.data.description}</p>
				</li>
			);
		})
	}
</ul>

<style></style>
